<% provide(:title, 'About Us') %>

<p>
 <h1>From the Creator</h1>
<p>This website is designed to help students save money on textbooks.<br></p>
<p>Until now most students sell their used books back to a third party, such as the bookstore on campus. <br></p>
<p>This third party makes profit by buying a book from student A in lower price and selling it to student B in higher price.<br></p>
<p>I believe that students can avoid paying this unnecessary fees by selling their books to each other.<br></p>
<p>This website is free and will remain free.<br></p>
<p>Enjoy!<br></p>
<p> Yaniv Cohen</p>
