<div class="center hero-unit">
  <h1>Welcome to the SJSU Books Exchange</h1>

 

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("SJSU.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>