<div class="center hero-unit">
  <h1>Welcome to the SJSU Textbooks</h1>

 


  <%= link_to "Search/post a book!", books_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Rate a professor!", professors_path, class: "btn btn-large btn-primary" %>
</div>



