<div class="center hero-unit">
  <h1>Welcome to the SJSU Textbooks</h1>

 

  <%= link_to "Post a book!", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Search a book!", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Rate a professor!", '#', class: "btn btn-large btn-primary" %>
</div>




