
<!--partial to implement dynamic recommendation engine -->


<% arr = recommend %>
<table>
  <th>Book Name</th><th>ISBN</th>
  <% arr.each do |book| %>
    <tr><td><%= book.title %></td><td><%= book.isbn %></td><td><%= link_to "View", book %></tr>
  <% end %>

</table>
