
<!--partial to implement dynamic recommendation engine -->


<% if current_user != nil %>
  <% arr = recommend %>
  <% if arr !=nil and arr.count > 0 %>
    <h1>Recommendations for you</h1>
    <table>
      <th>Book Name</th><th>ISBN</th>
      <% arr.each do |book| %>
        <% if book != nil %>
          <tr><td><%= book.title %></td><td><%= book.isbn %></td><td><%= link_to "View", book, class: "btn" %></tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
